# Swap and Dump and Cache
*~
*.swp
.zcompdump*
.mypy_cache

# SSH
**/.ssh/id_*
**/.ssh/known_hosts
**/.ssh/agent_env

# Vim
**/.vim/bundle
**/.vim/autoload/plug.vim
.viminfo

# VSCode
.vscode

# History files
.zsh_history

# symlink from ansible setup
packages/common/.local/share/applications/mimeapps.list
