# {{ inventory_hostname }}
# private {{ wg_private }} public {{ wg_public }}
[Interface]
Address = {{ wg_addrs|map('regex_replace', '^(.*)$', '\\1/24')|join(', ') }}
PrivateKey = {{ wg_private }}
ListenPort = {{ wg_port | default('51820') }}
{% for host in groups['all'] %}{% if host != inventory_hostname %}

# host {{ hostvars[host].inventory_hostname }}
[Peer]
PublicKey = {{ hostvars[host].wg_public }}
AllowedIps = {{ hostvars[host].wg_addrs|map('regex_replace', '^(.*)$', '\\1/32')|join(', ') }}
PersistentKeepalive = 25
{% if hostvars[host].wg_endpoint is defined %}
Endpoint = {{ hostvars[host].wg_endpoint }}:{{ hostvars[host].wg_port | default('51820') }}
{% endif %}
{% endif %}{% endfor %}
